[submodule "services/Flights-Management"]
	path = services/Flights-Management
	url = https://github.com/diptesh17/Flights-Management.git
[submodule "services/Auth_Service"]
	path = services/Auth_Service
	url = https://github.com/diptesh17/Auth_Service.git
[submodule "services/ReminderService"]
	path = services/ReminderService
	url = https://github.com/diptesh17/ReminderService.git
[submodule "services/BookingService"]
	path = services/BookingService
	url = https://github.com/diptesh17/BookingService.git
